* {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-color: #17161b;
    min-height: 100vh;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}


header {
    background-color: #09090e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 0;
}

header p {
    color: #2bce59;
    font-weight: bolder;
    margin: 1em;
}

header .lucide-shield-icon {
    color: black;
    background-color: #2bce59;
    border-radius: 50px;
    margin: 0;
    margin-left: 1em;
    padding: 5px;
    width: 40px;
}

header .lucide-shield-icon:hover {
    box-shadow: 2px 2px 15px #2bce59;
    box-shadow: -2px -2px 15px #2bce59;
    animation: rotate 0.2s ease-in-out forwards;
}

@keyframes rotate {
    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

header .online>* {
    margin: 0;
    display: flex;
    align-items: center;
    color: #2bce59;
}

header .online {
    border: 1px solid #2bce59;
    border-radius: 25px;
    margin-right: 1em;
    padding: 2px;
    padding-right: 10px;
    font-weight: bolder;

}

header .online:hover {
    background-color: #0e3417;
}

.lucide-dot1 {
    transform: scale(2);
    animation: flickering 1s infinite;
}

@keyframes flickering {
    50% {
        opacity: 50%;
    }
}

.screen {
    background-color: #16121e;
    margin-top: 2.5em;
    min-height: 18em;
    border-radius: 15px;
    border: 2px solid rgba(65, 69, 73, 0.774);
    display: grid;
    grid-template-areas: "radar details";
}

.screen:hover {
    border: 3px solid #539c70;
}

.radar,
.sweep {
    position: relative;
    grid-area: radar;
}

.radar {
    overflow: hidden;
    top: 8em;
    left: 10em;
    margin: -117px;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.details {
    margin-top: 4.5em;
}

.details>* {
    margin-bottom: 0.5em;
}

.details div h1 {
    color: #2bce59;
}

.details div p {
    color: #686470;
}

.options {
    margin-top: 1.5em;
    display: flex;
}

.options a {
    background-color: #16121e;
    border: 2px solid rgba(65, 69, 73, 0.774);
    border-radius: 25px;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.options a:hover {
    background-color: #0c2518;
    border: 2px solid #367b4c;
    transform: translateY(-2px);
}

.options a svg {
    margin-right: 0.5em;
}

.cards {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 5px;
}

.card {
    background-color: #16121e;
    border: 2px solid rgba(65, 69, 73, 0.774);
    border-radius: 15px;
    padding: 1em;
    color: white;
}

.card:hover {
    border: 2px solid #367b4c;
    transform: skew(3deg, 1deg);
    transform: translateY(-3px);

}

.card:nth-child(2n + 1) {
    border-left: 4px solid #2ae672fd;
}

.card:nth-child(2n) {
    border-left: 4px solid #e1b246e5;
}

.card .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .status h3 {
    border-radius: 8px;
    padding: 0.5em;
    font-size: 0.8em;
}

.card .status p {
    color: #686470;
}

.card h2 {
    font-weight: normal;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.card .perce {
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 10px;
    color: #2ecc71;
}

.card .percentage {
    margin-top: 5px;
    height: 5px;
    border-radius: 15px;
}

.card1 .status h3 {
    color: #b02f58;
    background-color: #3b182b;
    border: 2px solid #b02f58;
}

.card1 .percentage {
    background-image: linear-gradient(to right, #2ecc71 0% 65%, #2d2a35 65% 100%);
}

.card2 .status h3 {
    color: #7f662f;
    background-color: #41371b;
    border: 2px solid #7f662f;
}

.card2 .percentage {
    background-image: linear-gradient(to right, #2ecc71 0% 40%, #2d2a35 40% 100%);
}

.card3 .status h3 {
    color: #2a7d44;
    background-color: #144328;
    border: 2px solid #2a7d44;
}

.card3 .percentage {
    background-image: linear-gradient(to right, #2ecc71 0% 15%, #2d2a35 15% 100%);
}

.card4 .status h3 {
    color: #7f662f;
    background-color: #41371b;
    border: 2px solid #7f662f;
}

.card4 .percentage {
    background-image: linear-gradient(to right, #2ecc71 0% 80%, #2d2a35 80% 100%);
}

.detected {
    margin-top: 1em;
    color: #b02f58;
    background-color: #3b182b;
    border: 2px solid #b02f58;
    display: flex;
    align-items: start;
    border-radius: 15px;
    padding: 10px;
}

.detected:hover {
    transform: scale(1.05);
    background-color: #401524;

}

.detected h2 {
    margin: 0.5em;
    margin-left: 43%;
}

.detected .lucide-dot {
    transform: scale(4);
    margin-left: 1em;
}

footer {
    background-color: #09090e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 0;
    margin-top: 2em;
    padding: 1em;

}

footer a div {
    color: #686470;
    text-align: center;
}

footer a div:hover {
    color: #2bce59;
    transform: translateY(-2px);
}


footer a .active:hover  {
    color: #2bce59;
    transform: translateY(-2px);
    
}
footer a .active  {
    color: #2bce59;
    transform: translateY(-2px);
    
}
.active::after {
    transform: translateY(-2px);
    color: #2bce59;
    transform: translateY(-2px);
    content: ''; 
    position: absolute; 
    width: 50%; 
    height: 3px; 
    background-color: #2bce59; 
    bottom: -15px; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 2px; 
}

@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .screen{
        grid-template-areas: "radar", "details";

    }
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .screen{
        grid-template-areas: "radar", "details";

    }
}

@media (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;

    }
    .screen{
        grid-template-areas: "radar", "details";

    }
}